.bg{
	background-image:url("/home/yuva/Downloads/NXT/coding3.png");
	background-size:cover;
	height:100vh;
}
.border{
	height:50vh;
	width:50vh;
	border-color:#48ee59;
	border-style:solid;
	border-width:6px;
	color:white;
	padding:50px;
	margin: 500px;
}
.heading{
	font-family: "Bree Serif";
	font-size:40px;
}