.background{
	background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
	height:150vh;
	width:55vw;
	background-size:cover;
	

}
.heading{
	font-size:35px;
	font-family: "Roboto";
	padding:20px;
	color:white;
	font-weight: bold;
}
.top-container{
	background-color:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	height:10vh;
	width:50vw;
	margin:25px;


	
}
.bottom-container{
	background-color: white;
	

}
.heading2{
	color:black;
	font-weight:bold;
	font-family:"italic";
	font-size:30px;
}
.text-container{
	padding:25px;
}